<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spes Robotics</title>
</head>

<body>
    <h1>Spes control panel &#129302;</h1>
    <!-- <button onclick="runCuda()">Start Container</button>
    <button onclick="stopContainer()">Stop Container</button> -->
    <button onclick="runCuda()"
        style="background-color: #3498db; color: white; padding: 15px 30px; font-size: 20px; border: none; border-radius: 4px; cursor: pointer; margin: 10px;">Start
        Container</button>
    <button onclick="stopContainer()"
        style="background-color: #3498db; color: white; padding: 15px 30px; font-size: 20px; border: none; border-radius: 4px; cursor: pointer; margin: 10px;">Stop
        Container</button>
    <a href="http://192.168.2.146:8080/" target="_blank">
        <button
            style="background-color: #3498db; color: white; padding: 15px 30px; font-size: 20px; border: none; border-radius: 4px; cursor: pointer; margin: 10px;">
            View stream</button>
    </a>
    <hr>
    <h2>Container Status:</h2>
    <div id="status"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function runCuda() {
            $.ajax({
                url: '/run_cuda',
                type: 'GET',
                success: function (response) {
                    $('#status').html(`<p>Status: ${response.status}</p><p>${response.message}</p>`);
                },
                error: function (error) {
                    $('#status').html(`<p style="color: red;">Greška prilikom pokretanja: ${error.responseText}</p>`);
                }
            });
        }

        function stopContainer() {
            $.ajax({
                url: '/stop_cuda',
                type: 'GET',
                success: function (response) {
                    $('#status').html(`<p>Status: ${response.status}</p><p>${response.message}</p>`);
                },
                error: function (error) {
                    $('#status').html(`<p style="color: red;">Greška prilikom zaustavljanja: ${error.responseText}</p>`);
                }
            });
        }

        function checkContainerStatus() {
            fetch("/container_status")
                .then(response => response.json())
                .then(data => {
                    $('#status').html(`<p>Status: ${data.status}</p><p>${data.message}</p>`);
                })
                .catch(error => {
                    console.error("Error fetching container status:", error);
                });
        }

        setInterval(checkContainerStatus, 5000);
    </script>
</body>

</html>
