<?xml version="1.0" encoding="utf-8"?>

<robot name="spesbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find spesbot_description)/urdf/mobile_base.xacro" />
    <xacro:include filename="$(find spesbot_description)/urdf/arm.xacro" />

    <xacro:mobile_base />
    <xacro:arm />

    <joint name="arm_fixed_joint" type="fixed">
        <parent link="base_link" />
        <child link="arm_base_link" />
        <origin xyz="0 0.08 0.08" rpy="0 0 0" />
    </joint>

    <ros2_control name="fake_system" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <joint name="joint_1">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>

        <joint name="joint_2">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>

        <joint name="joint_3">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>

        <joint name="joint_4">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>

        <joint name="joint_5">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </ros2_control>

    <ros2_control name="isaac_system" type="system">
        <hardware>
            <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
            <param name="joint_commands_topic">/isaac/joint_command</param>
            <param name="joint_states_topic">/isaac/joint_states</param>
            <param name="sum_wrapped_joint_states">true</param>
        </hardware>

        <joint name="left_motor">
            <command_interface name="velocity" />
            <state_interface name="position" />
        </joint>

        <joint name="right_motor">
            <command_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </ros2_control>
</robot>