<?xml version="1.0"?>
<robot name="spesbot">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />

        <device reference="camera" type="Camera">
            <ros>
                <enabled>true</enabled>
                <updateRate>20</updateRate>
                <topicName>/camera_raw</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>camera</frameName>
            </ros>
        </device>

        <device reference="LDS-01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>laser</frameName>
            </ros>
        </device>
    </webots>
    <ros2_control name="JointControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="left_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
        <joint name="right_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
    </ros2_control>
</robot>